*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  background: #eee;
  font-family: "Open Sans", sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

.aboutMe__card {
  min-width: 80vw;
}

@media screen and (min-width: 768px) {
  .aboutMe__card {
    min-width: 50vw;
  }
}
